---
layout: default
---
<section class="section-gray-bg">
  <div class="container">
    <div class="show-md-up">
      {% include blog/post-card-large.html post=site.posts.first %}
    </div>
    <div class="show-md-down">
      {% include blog/post-card-small.html post=site.posts.first %}
    </div>
    <div class="row equal">
      {% for post in site.posts %}
        <!-- Skip the first post -->
        {% unless forloop.first %}
          <div class="col-post-card {% cycle
            'col-lg-4 col-md-6',
            'col-lg-4 col-md-6',
            'col-lg-4 col-md-6',
            'col-lg-6 col-md-6',
            'col-lg-6 col-md-12' %}">
            {% include blog/post-card-small.html post=post %}
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>