---
layout: default
title: Our Team
---
<!-- can't decide on the colors -->

<section class="section-gray-bg">
	<div class="container">
		<div class="our-team-heading">
			<h1>Our Team</h1>
			<!-- {% include our-team/stats.html %} -->
			<!-- something about the diversity of the team -->
			<!-- <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> -->
		</div>
		{% include our-team/bios.html %}
	</div>
</section>

<script src="/assets/js/readmore.js"></script>