---
layout: default
title: Get Involved
permalink: '/get-involved'
---
<section class="section-default section-white-bg">
	<h1 class="title-centered">Get Involved</h1>
</section>

<section class="section-default section-gray-bg">
	<div class="container" id="get-involved">
		<div class="row">
			<div class="col-lg-4">
				<div class="involvement-option">
					<h2>Mentee</h2>
					<p>Receive one-on-one mentorship for your STEM or CS event!</p>
					<a href="https://bit.ly/haxinterest" target="_blank">
						<button type="submit" class="contact-button">Contact us</button>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="involvement-option">
					<h2>Team Member</h2>
					<p>Work behind the scenes in design, writing, social media, outreach, management, and more.</p>
					<a href="https://bit.ly/haxapply" target="_blank">
						<button type="submit" class="contact-button">Apply</button>
					</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="involvement-option">
					<h2>Mentor</h2>
					<p>Mentor organizers and help others learn and grow.</p>
					<p><b>Coming soon!</b></p>
				</div>
			</div>
		</div>
	</div>
</section>