---
layout: default
title: Mentee Signup Form
permalink: '/mentee-success'
---
<section class="section-gray-bg section-large-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="title-container">
					<h1 class="title-centered">Ad Astra! ✨</h1>
					<p>We'll be reaching out to you shortly about organizing your event, so be sure to check your email in a few days! We're really excited to be working with you.</p>
				</div>
			</div>
		</div>
	</div>
</section>