---
layout: default
title: Our Team
permalink: '/our-team'
---
<!-- can't decide on the colors -->

<section class="section-default section-gray-bg">
	<div class="container">
		<div class="our-team-heading">
			<h1>Our Team</h1>
			<!-- something about the diversity of the team -->
		</div>
		{% include our-team/bios.html %}
	</div>
</section>
<script src="/node_modules/readmore-js/readmore.min.js"></script>
<script>
	$('.readmore').readmore({
		speed: 100,
		collapsedHeight: 100,
		moreLink: '<a class="readmore-link">Read more</a>',
		lessLink: '<a class="readmore-link">Read less</a>',
		afterToggle: function(trigger, element, expanded) {
			if(! expanded) { // The "Close" link was clicked
			  $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
			}
		}
	});
</script>