<footer>
    <div class="container">
        <div class="footer-row">
            <!-- <img class="footer-logo" src="/assets/images/haxlogo5.png" height="50"> -->
            <div class="links">
              <a class="nav-link" href="/">Home</a>
              <!-- <a class="nav-link" href="https://blog.haxorg.io">Blog</a> -->
              <!-- <a class="nav-link" href="/our-team">Our Team</a> -->
              <a class="nav-link" href="https://bit.ly/HAXinterest">Join Us</a>
              <a class="nav-link" href="mailto:team@haxorg.io">Contact</a>
            </div>
            <div class="icons">
                <a href="mailto:team@haxorg.io"><i class="fas fa-envelope"></i></a>
                <a href="https://www.facebook.com/haxorg.io/" target="_"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/hax_org/" target="_"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/hax_org/" target="_"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <p class="copyright">© <script>document.write(new Date().getFullYear())</script> HAX. All rights reserved.</p>
    </div>
</footer>