<section id="hero">
    <div class="container">
        <div class="row">
            <img id="hero-image" class="col-md-6 order-md-2" src="assets/images/lady.png">
            <div class="col-md-6 order-md-1" id="welcome-message">
                <h1 id="title" class="animated fadeInUp delay-1s">This is HAX.</h1>
                <p id="subtitle" class="animated fadeInUp delay-1s">A global nonprofit dedicated to making computer science education accessible, one hackathon at a time. We're proud to be #BUILTBYGIRLS. Ad astra!</p>
                <a href="https://forms.gle/6ABDkpuKn86wmbLM6">
                    <button id="hero-btn" type="button" class="btn btn-primary animated fadeInUp delay-1s">Get hacking.</button>
                </a>
            </div>
        </div>
    </div>
</section>