<!-- mailing-list-form.html -->
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
	<form action="https://haxorg.us20.list-manage.com/subscribe/post?u=14325e38fdf5e7d6d6de2091c&amp;id=3f26c7b2c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mailing-list-form validate" target="_blank" novalidate>
		<input type="email" name="EMAIL" class="form-control required email email-input" id="mce-EMAIL" placeholder="Your email" value="">
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_14325e38fdf5e7d6d6de2091c_3f26c7b2c3" tabindex="-1" value=""></div>
		<button type="submit" class="mailing-list-button">Send me updates</button>
		</div>
	</form>
</div>
<!--End mc_embed_signup-->