<div class="col-md-6 col-lg-6">
	<a {% if include.event.website_url %}href="{{include.event.website_url}}" target="_blank" {% endif %}>
		<div class="event-container">
			<div class="image-container">
				<img class="lazy" src="/assets/images/lazy.jpg" data-src="{{include.event.cover}}">
			</div>
			<div class="event-content">
				<h3>{{ include.event.title }}</h3>
				<div class="event-date-n-location">
					{% if include.event.date %}
						<p>{{ include.event.date | date_to_string}}</p>
					{% else %}
						<p>{{ include.event.planned_date}}</p>
					{% endif %}
					<p>{{ include.event.location }}</p>
				</div>
			</div>
		</div>
	</a>
</div>