.mission-container {
  margin: 0 auto 50px;
  text-align: center;
  @media (min-width: $md) {
    width: 80%;
  }
  @media (min-width: $lg) {
    width: 70%;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 30px;
  }

  img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    /*margin-bottom: 3%;*/
  }

  iframe {
    margin-top: 30px;
  }
  
}

#map {
  margin-top: 30px;
  height: 600px;
  width: 100%;
 }