@import "variables";

/* Pagination */

.pagination-nav {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	color: $purple;
}

.page-item.active .page-link {
	background-color: $purple;
	border-color: $purple;
}

.page-link {
	color: $purple;
	&:hover {
		color: $purple;
	}
}

/* Content Styles*/

.post-content {
	blockquote {
		border-left: 7.5px solid #E9E9E9;
		padding-left: 20px;
		margin: 20px 0;
	}

	.code-block {
		background-color: #E9E9E9;
		padding: 20px 30px;
		margin: 20px 0;
	}

	img {
		max-width: 100%;
	}	
}


.col-post-card {
	margin-top: 30px;
}

/* Post card */
.post-card-small {
	height: 100%;
	background-color: white;
	box-shadow: $boxshadow;
	@include smooth-transition;

	.image-container {
		width: 100%;
		overflow: hidden;
	}

	.post-image {
		object-fit: cover;
		width: 100%;
		@include smooth-transition;
	}

	.post-date {
		margin: 15px 0;
	}

	.post-card-content {
		padding: 30px;
		color: black;
	}

	.post-title {
		font-weight: 500;
		margin-bottom: 20px;
	}

	.author-container {
		margin-top: 20px;
	}

	&:hover {
		box-shadow: $boxshadow-hover;
		.post-image {
			@include scale-larger-transition;
		}
	}
}

.author-container {
	display: flex;
	flex-direction: row;
	/*padding: 30px;*/
	/* Author picture */

	.author-name {
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	img {
		width: 30px;
		height: 30px;
		border-radius: 100px;
		margin-right: 15px;
	}
}

#first-post-container {
	position: relative;
	overflow: hidden;
	box-shadow: $boxshadow;
	@include smooth-transition;

	.cover-image {
		width: 100%;
		height: 500px;
		object-fit: cover;
		@include smooth-transition;
	}

	.post-card-content {
	 	position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px;
		margin-left: 30px;
		margin-bottom: 30px;
		position: absolute;
		background-color: #00000075;
		border-left: 2px solid $bgcolor;
		color: white;
		width: 90%;

		@media (min-width: $lg) {
			width: 60%;
		}
	}

	&:hover {
		box-shadow: $boxshadow-hover;
		img {
			@include scale-larger-transition;
		}
	}

	.post-author {
		font-weight: bold;
	}
}

.post-tag {
	color: $purple;
	font-weight: bold;
}

/* Since some of the css classes overlap, I'm keeping them in the .post class */
/* .post is for the actual post page, .post-card is for blog.html */
.post {
	.post-info {
		margin-bottom: 30px;
	}
	.post-title {
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.post-date {
		font-weight: bold;
	}
	.post-image {
		margin-bottom: 30px;
		width: 100%;
	}
	h2, h3 {
		margin-top: 30px;
		margin-bottom: 1rem;
	}
}

/* Right Column */
.right-col {
	padding-left: 15px;
	.author-container {
		img {
			width: 75px;
			height: 75px;
			/* Looked ugly */
			/*align-self: center;*/
		}
	}
}

.col-group {
	margin-bottom: 30px;
}
.col-group-title {
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 20px;
}

/* Share bar */

.share-buttons {
	display: flex;
	flex-direction: row;
}

/* Each button */
.share-button {
    margin-right: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #eff0f1;
    border-radius: 8px;
    i {
    	font-size: 20px;
    }
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.share-icon-facebook {
    color: #3b5998;
    &:hover {
    	background-color: #3b5998;
    	border-color: #3b5998;
    }
}

/* Twitter button */
.share-icon-twitter {
    color: #55acee;
	&:hover {
    	background-color: #55acee;
    	border-color: #55acee;
    }
}

/* Reddit button */
.share-icon-reddit {
    color: #ff4500;	
    &:hover {
    	background-color: #ff4500;
    	border-color: #ff4500;
    }
}

/* LinkedIn button */
.share-icon-linkedin {
    color: #007bb5;
	&:hover {
    	background-color: #007bb5;
    	border-color: #007bb5;
    }
}

/* Email button */
.share-icon-email {
    color: #444444;
	&:hover {
    	background-color: #444444;
    	border-color: #444444;
    }
}

.prev-next-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0 40px;
	font-weight: bold;
}