.faq-section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
}

.faq-block {
  padding: 30px;
  background-color: white;
  margin-bottom: 30px;
}

.faq-block-title {
  font-weight: 400;
  margin-bottom: 15px;
}

.faq-text {
  font-weight: 500;
}