@import "variables";

#page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:50vh;

  button {
    margin-top: 30px;
  }
}

#get-involved {
	.involvement-option {
		margin-bottom: 60px;
		text-align: center;
		h2 {
			margin-bottom: 20px;
		}
		button {
			margin-top: 10px;
			width: 50%;
		}
	}
}