@import "variables";

/* NAVBAR */
.navbar {
  background-color: white !important;
}

.nav-link {
  color: #aaadb3;
  text-transform: capitalize;
  transition: .2s all;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    color: $purple !important;;
  }

  /* Absolute positioning in lg */
  @media screen and (min-width: $lg) {
    margin-right: 20px;
  }
}

.nav-link.active {
  color: $purple !important;
}

.navbar-brand {
  margin-left: 30px;
}

@media screen and (min-width: $lg) {
  nav {
    height: 96px;
  }

  .navbar-nav {
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
}


