@import "variables";
$bio-container-padding: 30px;

.our-team-heading {
	text-align: center;
	padding-bottom: 50px;
	/*border-bottom: 1px solid #e2e2e2;*/
}

.readmore {
  overflow: hidden;
}

.readmore-link {
	/* only listens to color when you say it's important */
	color: $purple !important;
	cursor: pointer;
	&:hover {
		color: $purpledark !important;
	}
}

.col-bio {
	margin-bottom: 30px;
}

.bio-container {
	@include smooth-transition;
	height: 100%;
	padding: $bio-container-padding;
	background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: $boxshadow;
	&:hover {
		box-shadow: $boxshadow-hover;
	}
	@media (min-width: $md) {
		flex-direction: row;
		text-align: left;
	}
}

.bio-image-container {
	object-fit: cover;
	margin: 0 auto 20px;
	@media (min-width: $md) {
		width: auto;
		margin-right: $bio-container-padding;
	}
}

.bio-image {
	border-radius: 1000px;
	width: 75px;
	height: 75px;
}

.bio-content {
	width: 100%;
}

.bio-title {
	font-weight: 500;
}

.bio-position {
	font-weight: 500;

	/* annoying hacky thing I had to do to get the margins to be ok */
	/* readmore link doesn't respond to css... */
	margin-bottom: -10px;
}

.bio-text {
	margin-top: 20px;
	margin-bottom: 5px;
}

.bio-icons {
	margin-top: 20px;
	i {
		font-size: 20px;
		padding: 0 !important;
		margin-top: 5px;
		color: gray;
		&:hover {
	      color: $purple;
	    }

	    /* This keeps it centered in mobile */
	    margin-left: 10px;
	    margin-right: 10px;
	    /* In md+, everything is aligned left anyway */
	    @media (min-width: $md) {
	    	margin-left: 0;
	    	margin-right: 10px;
	    }
	}
}