/* Since some of the css classes overlap, I'm keeping them in the .post class */
/* .post is for the actual post page, .post-card is for blog.html */
.post {
	.post-info {
		margin-bottom: 30px;
	}
	.post-title {
		font-weight: 500;
		margin-bottom: 1rem;
	}
	.post-date {
		font-weight: bold;
	}
	.post-image {
		margin-bottom: 30px;
		width: 100%;
	}
	h2, h3 {
		margin-top: 30px;
		margin-bottom: 1rem;
	}
}

/* Right Column */
.right-col {
	padding-left: 15px;
	.author-container {
		img {
			width: 75px;
			height: 75px;
			/* Looked ugly */
			/*align-self: center;*/
		}
	}
}
.author-container {
	display: flex;
	flex-direction: row;
	/*padding: 30px;*/
	/* Author picture */

	.author-info {
		margin-left: 15px;
	}
	.author-name {
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
}
.col-group {
	margin-bottom: 30px;
}
.col-group-title {
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 20px;
}

/* Content Styles*/

blockquote {
	border-left: 7.5px solid #E9E9E9;
	padding-left: 20px;
	margin: 20px 0;
}

.highlighter-rouge {
	background-color: #E9E9E9;
	padding: 20px 30px;
	margin: 20px 0;
}

