@import "variables";

/* Fonts */

h1, h2, h3, h4, h5, h6 {
	/*font-family: Rubik*/
}

* {
  font-family: $mfont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
	margin-bottom: 30px;
}

p {
	font-size: 18pxR;
}

strong {
	font-weight: 600;
}

a {
  color: $purple;
}

a:hover {
  text-decoration: none;
  color: black;
  transition: .2s all;
}

.page-title {
  margin-bottom: 50px;
}

.title-centered {
  text-align: center;
}