<a href="{{include.post.url}}">
  <div class="post-card post-card-small">
    <div>
      <div class="image-container">
        <img class="lazy post-image" src="/assets/images/lazy.jpg" data-src="{{include.post.cover}}">
      </div>
      <div class="post-card-content">
        <div>
          <p class="post-date">{{include.post.date | date_to_string}}</p>
          <h3 class="post-title">{{include.post.title}}</h3>
          <p class="post-subheading">{{include.post.subheading}}</p>
        </div>
      </div>
    </div>
    {% include blog/posts/author-container.html post=include.post show_desc="false" %}
  </div>
</a>