---
layout: default
---
<section class="section-white-bg post">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="post-info">
					<p class="post-date">{{page.date | date_to_string}}</p>
					<h1 class="post-title">{{page.title}}</h1>
					<p class="post-subheading">{{page.subheading}}</p>
				</div>
				<img class="lazy post-image" src="/assets/images/lazy.jpg" data-src="{{page.cover}}">
				<div class="post-content">
					{{ content }}
				</div>
				{% include blog/disqus.html %}
			</div>
			<div class="col-lg-4">
				<div class="right-col">
					<div class="col-group">
						<h4 class="col-group-title">Author</h4>
						<div class="author-container">
							<img src="/assets/images/prof.png">
							<div class="author-info">
								<p class="author-name">{{page.author}}</p>
								<p class="author-desc">{{page.author_desc}}</p>
							</div>
						</div>
					</div>
					<div class="col-group">
						<h4 class="col-group-title">Share</h4>
						{% include blog/share-icons.html %}
						<!-- include an rss feed -->
					</div>
					<div class="col-group">
						<h4 class="col-group-title">Tags</h4>
					</div>
					<div class="col-group">
						<h4 class="col-group-title">Latest Tweets</h4>
						<a class="twitter-timeline" data-height="1000" data-dnt="true" data-link-color="#6800fa" href="https://twitter.com/HAX_org?ref_src=twsrc%5Etfw">Tweets by HAX_org</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>