<section id="about" class="section-default section-white-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="about-text">
					<h2 class="section-title">🚀 Making computer science accessible, one hackathon at a time. </h2>
					<p>HAX is an up-and-coming nonprofit founded on the principles of inclusivity, accessibility, and education.</p>
					<p>We aim to provide all women and minorities a chance to receive and hands-on experience with programming and computer science, through bringing hackathons to high schools and overlooked areas all over the world!</p>
				</div>
				<a href="/about" class="link-with-icon">Read more about our mission <i class="fas fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
</section>