<section id="about" class="section-white-bg">
	<div class="container">
		<h2>We'll help you with your next hackathon.</h2>
		<div class="about-text">
			<p>HAX is an up-and-coming nonprofit dedicated to helping people organize and hold hackathons, with a specific focus on women and disadvantaged minorities.</p>
			<p>We aim to provide all women and minorities a chance to receive and hands-on experience with programming and computer science, through bringing hackathons to high schools and overlooked areas all over the world!</p>
		</div>
		<a href="/our-mission" class="link-with-icon">Read more about our mission <i class="fas fa-arrow-right"></i></a>
	</div>
</section>