<section id="hero" class="section-default section-color-bg">
	<div class="container">
		<div class="row">
			<!-- lady image, stays on the right in md and above, stays above the text in mobile  -->
			<img id="hero-image" class="col-md-6 order-md-2" src="assets/images/lady.png" class="noselect">
			<div class="col-md-6 order-md-1" id="welcome-message">
				<h1 id="title" class="animated fadeInUp delay-1s">This is HAX.</h1>
				<p id="subtitle" class="animated fadeInUp delay-1s">A global nonprofit dedicated to making computer science education accessible, one hackathon at a time. Ad astra! ✨</p>
				<a href="https://bit.ly/HAXinterest">
					<!-- we should probably change the text to make it more clear where the button goes -->
					<button type="button" class="animated fadeInUp delay-1s">Get hacking.</button>
				</a> <!-- end link -->
			</div> <!-- end welcome message -->
		</div> <!-- end row -->
	</div><!-- end container -->
</section>