<section class="section-default section-white-bg">
	<h3 class="partners-text">Our Partners</h3>
	<div class="partners-container">
		<a href="http://notion.so" target="_blank">
			<img class="lazy partner-notion" src="/assets/images/lazy.jpg" data-src="/assets/images/partners/notion.png">
		</a>
		<a href="https://slack.com" target="_blank">
			<img class="lazy partner-slack" src="/assets/images/lazy.jpg" data-src="/assets/images/partners/slack.png">
		</a>
		<a href="https://builtbygirls.com" target="_blank">
			<img class="lazy partner-bbg" src="/assets/images/lazy.jpg" data-src="/assets/images/partners/bbg.png">
		</a>
		<a href="http://girlswhocode.com" target="_blank">
			<img class="lazy partner-gwc" src="/assets/images/lazy.jpg" data-src="/assets/images/partners/gwc.png">
		</a>
		<a href="https://getmagic.org/" target="_blank">
			<img class="lazy partner-magic" src="/assets/images/lazy.jpg" data-src="/assets/images/partners/magic.svg">
		</a>
	</div>
</section>