<section id="what-we-do" class="section-gray-bg">
	<div class="container">
		<div class="row">
			<!-- <div class="col-lg-6">
				<div class="image-container">
					this illustration doesn't fit at all, i know
					<img src="/assets/images/working.svg">
				</div>
			</div> -->
			<div class="col-lg-6">
				<h1>What we do</h1>
				<div class="number-block">
					<h3>1. Dapibus Tristique Aenean Risus</h3>
					<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
				<div class="number-block">
					<h3>2. Vehicula Aenean Ullamcorper Purus Bibendum</h3>
					<p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				</div>
				<div class="number-block">
					<h3>3. Ridiculus Ultricies Cras Aenean</h3>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
				</div>
			</div>
		</div>
	</div>
</section>