<section id="what-we-do" class="section-gray-bg">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-6">
				<div class="image-container">
					<img src="/assets/images/lady3.png" class="noselect">
				</div>
			</div> -->
			<div class="col-md-6">
				<h1>What we do</h1>
				<div class="number-block">
					<p>🤝 <strong>Our online guides</strong> and individual mentorship assist students through the process of organizing their own hackathons at schools, libraries, and communities around the country.</p>
				</div>
				<div class="number-block">
					<p>📖 <strong>The in-depth guides</strong> walk organizers through every single step of planning a hackathon, like securing a venue, getting sponsors, and launching a social media marketing campaign.</p>
				</div>
				<div class="number-block">
					<p>💬 <strong>Through our Slack workspace</strong>, organizers can reach out to our leadership team for one-on-one mentorship, guidance, and advice to help guide them through the process.</p>
				</div>
			</div>
		</div>
	</div>
</section>